{% extends 'base.html' %}

{% block content %}
<style>
    .hero {
        background: rgb(186, 236, 73);
        background: linear-gradient(93deg, rgba(186, 236, 73, 1) 0%, rgba(9, 121, 73, 1) 0%, rgba(0, 212, 255, 1) 100%);
    }
</style>

<section>

    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Welcome ADMIN
                </h1>
                <h2 class="subtitle">
                    Here some important information
                </h2>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="columns">
                <div class=" column is-4 ">
                    <div class="box">
                        <div class="level-item has-text-centered">
                            <div>
                                <p class="heading">Pantrys Active</p>
                                <p id="volume" class="title">2</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" column is-4 ">
                    <div class="box">
                        <div class="level-item has-text-centered">
                            <div>
                                <p class="heading">Last Volume</p>
                                <p id="volume" class="title">NUMBER</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" column is-4 ">
                    <div class="box">
                        <div class="level-item has-text-centered">
                            <div>
                                <p class="heading">Last Volume</p>
                                <p id="volume" class="title">NUMBER</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="columns">
                <div class=" column is-6 ">
                    <div class="box">
                        s
                    </div>
                </div>
                <div class=" column is-6 ">
                    <div class="box">
                        s
                    </div>
                </div>
            </div>
        </div>
    </section>



</section>
{% endblock %}